.modal{
 
    &-content{
        margin-top: 30%;
    } 
}

.quick-click .modal .modal-content{
    margin-top: 0 !important;
    height: 675px;
}

.quick-click .modal-dialog{
    margin: 0;
    max-width: 100%;
}
.quick-click{
    #field1 {
        padding: 10px;
        width: 60%;
        position: relative;
        left: 13%;
        text-align: center;
        button.sub{
            background: transparent;
            border: 1px solid #ddd;
            height: 30px;
            width: 31px;
            left: 23%;
            position: absolute;
            z-index: 1;
            cursor: pointer;
            transition: 0.3s all;

        }
        button.sub:hover{
            background: $color-primary;
            color: #ddd;
            transition: 0.3s all;
        }
        button.add
        {
            background: transparent;
            border: 1px solid #ddd;
            height: 30px;
            width: 31px;
            position: absolute;
            left: 64%;
            z-index: 10;
            transition: 0.3s all;

            cursor: pointer;
          
        }
        button.add:hover{
            background: $color-primary;
            color: #ddd;
            transition: 0.3s all;
        }
        input{
            width: 60px;
            padding-left: 20px;
            position: relative;
        }
    }
    .add-to-cart{
        width: 59.9%;
        padding-top: 10px;
        button{
            height: 40px;
            background:$color-primary;
            border: 1px solid $color-primary;
            border-radius: 40px;
            font-size: 14px;
            width: 130px;
            cursor: pointer;
            color: #fff;
            font-weight: bold;
            transition: .4s all;

        }
        button:hover{
            background: #222;
            border: 1px solid #222;
            transition: .4s all;

        }
    }
    .add-to-cart:hover{

        
    }
    .modal1{
        font-size: 24px;
        line-height: 1.5;
        color: #222;
    }
    .modal2{
        font-family: Poppins-SemiBold;
        font-size: 18px;
        line-height: 1.38888;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .modal3{
        font-size: 14px;
        line-height: 1.7;
        color: #666;
        
    }
    .modal{
        &-right-info{
            margin-top: 50px;
        }
        &-right-last{
            justify-content: center;
            a.button-click{
                border-right: 1px solid #ddd;
                width: 30px;
            } 
            a{
                margin: 20px 10px;
                color: rgb(58, 55, 55);
                font-size: 13px;
                font-weight: bold;
            }
          
        }
        &-btn-zoom{
            position: absolute;
            top: 10px;
            right: 80px;
            color: #222;
            width: 40px;
            height: 40px;
            text-align: center;
            font-size: 19px;
            background: #f1e9e9;
            padding-top: 6px;
            transform: rotate(45deg);
            border-radius: 40px;
        }
        &-btn-zoom:hover{
            background: #222;
            color: white;
        }
        &-content .slider-for{
            padding: 30px;
            .slick-track{
                
            } 
            // width: 80%;
            // margin: 40px 0px;
            img{
            width: 90%;
            height: 500px;
            // left: -215px;
            object-fit: cover;
    
            }
            .slick-track{
                // width: 876px !important;
            }
            
        }
        &-size-color{
            text-align: center;
            padding-top: 10px;
        }
    
    }
    .row{
        padding: 4% 2% !important;
        .col-md-7, .col-md-5{
            padding: 0;
        }
    }
    button.close{
        height: 40px;
        width: 40px;
        font-size: 35px;
    }
    .right-modal .d-flex label,.right-modal .d-flex select{
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: 1;
    }
    
    .right-modal .d-flex label{
        font-size: 15px;
        color: #666;
        line-height: 2.4;
        width: 40px;
    }
    .right-modal .d-flex select{
        width: 300px;
        padding-left: 30px;
        margin-left: 30px;
        outline: none;
    }
    .d-flex{
        margin: 10px 50px 10px 0;
        height: 60px;
    }
    
}

img#change-image {
    object-fit: cover;
    width: 96%;
    height: 500px;
}
.picture-small img, .yellow-button img{
    margin: 10px 0 0 15px;
}
.button-container img{
    width: 80px;
    height: 90px;
}
.fancybox{
    img{
        width: 450px;
        height: 500px;
        object-fit: cover;
    }
    &-inner{
        max-width: 570px !important;
        max-height: 590px !important;
    }
    &-wrap{
        max-width: 600px !important;
        max-height: 590px  !important;
    }
    &-skin{
        max-height: 590px !important;
    }
    &-image{
        max-height: 560px !important;
        max-width: 600px !important;

    }
}
.fancybox1 img{
    display: none;
}


.bmd-form-group{
    padding: 0 !important;
}