.m-0{
    margin: 0;
}
.p-0{
    padding: 0;
}
.p-2{
    padding: 2% 5% !important;
}
.p-3{
    padding: 2% 7% !important;
}
.p-b-10{
    padding-bottom: 10px;
}
.p-t-10{
    padding-top: 10px;
}
.p-t-7{
    padding-top: 7px;
}
.p-t-20{
    padding-top: 20px;
}
.p-t-50{
    padding-top: 50px;
}
.p-l-50{
    padding-top: 50px;
}
.p-l-1{
    padding-left: 10%;
}
.p-r-1{
    padding-right: 10%;
}
.p-r-3{
    padding-right: 30%;
}
.p-r-2{
    padding-right: 20%;
}
.p-l-3{
    padding-left: 30%;
}
.p-l-4{
    padding-left: 40%;
}
.p-b-50{
    padding-bottom: 50px;
}
.m-l-5{
    margin-left: 5px
}
.m-l-15{
    margin-left: 15px;
}
.m-l-20{
    margin-left: 20px;
}
.m-l-40{
    margin-left: 40px;
}
.m-l-50{
    margin-left: 50px;
}
.m-l-70{
    margin-left: 70px;
}
.m-lr-10{
    margin: 0 10px;
}
.m-t-10{
    margin-top: 10px;
}
.m-t-20{
    margin-top: 20px;
}
.m-t-30{
    margin-top: 30px;
}
.m-t-40{
    margin-top: 40px;
}
.m-t-50{
    margin-top: 50px;
}
.m-b-10{
    margin-bottom: 10px !important;
}
.m-b-15{
    margin-bottom: 15px !important;
}
.m-l-80{
    margin-left: 80px;
}
.h-40{
    height: 40px;;
}
.h-78{
    height: 78%;
}
.text-12{
    font-size: 12px;
}
.pointer{
    cursor: pointer;
}
.text-100{
    font-size: 16px;
}
.text-101{
    font-size: 13px;
}
.text-102{
    font-size: 12px;
    color: #b6b0b0;
    font-weight: 400;
}
.text103{
    font-size: 15px;
    font-weight: 500 ;
}
.text-104{
    font-size: 13px;
    color: #555;
    opacity: 0.8;
    line-height: 1.4;
}
.text-105{
    font-size: 13px;
    opacity: 0.7;
}
.text-106{
    font-size: 13px;
    opacity: 0.6;
}
.text-107{
    font-size: 14px;
}
.text-108{
    font-size: 19px;
}
/* text blog */
    .text-110{
        font-size: 15px;
        line-height: 1.666667;
    }
    .text-111{
        font-size: 13px;
        line-height: 1.6923;
    }
    .text-112{
        font-size: 15px;
        line-height: 1.466667;
        text-transform: uppercase;
        font-weight: 500;
    }

    .f-w{
        font-weight: bold;
    }
    .b-l{
        border-left: 1px solid #b2b2b2;
    }
    .b-r{
        border-right: 1px solid #b2b2b2;
    }
    .b-1{
        border: 1px solid #ddd;
    }
    .p-lr-4{
        padding: 0 4px
    }
    .f-w-6{
       font-weight:  600;
    }
    .f-w-5{
        font-weight:  500;
     }
     .f-w-4{
         font-weight: 400;
     }
     .a-l-c{
         text-align: center;
     }
     .a-l-l{
        text-align: left;
    }

/* end text blog */
.size-209{
    width: 65.5%;
}
.size-208{
    width: 34.5%;
}
.bor{
    border: 1px solid #ddd;
}
.bor12{
    border-bottom: 1px dashed #d9d9d9;
}
.flex-sb-m{
    justify-content: space-between;
    align-items: center;
}

.flex-w{
    flex-wrap: wrap;
}
.m-w{
    width: 70px;
}
.m-w-1{
    max-width: 68%;
}
.h-full{
    height: 100%;
}
.w-full{
    width: 100%;
}
.w-40{
    width: 40%;
}
.d-flex1{
    justify-content: inherit
}
.color-yellow{
    color: #edb867;
}
.c-1{
    color: #111;
}
.c-2{
    color: #222;
}
.c-3{
    color: #333;
}
.c-4{
    color: #444;
}
.c-5{
    color: #555;
}
.c-6{
    color: #666;
}
.c-7{
    color: #777;
}
.c-8{
    color: #888;
}
.l-h{
    line-height: 1.7;
}

.f-l{
    float: left;

}

.f-r{
    float: right;
}